form{
    width: 100%;
    align-items: center;

    display: flex;
    flex-direction: column;
}
.loginForm{
    display: flex;
}
form .select{
    display: flex;
}
form .select label{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
form .select select{
    cursor: pointer;
    width: 70px;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
}